<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

    <appSettings>
      <add key="YaraPath" value="C:\Users\rasvo\Documents\Skola\S7\PVBPS\_Projekt\YaraRules\yara64.exe"/>
      <add key="IndexRule" value="C:\Users\rasvo\Documents\Skola\S7\PVBPS\_Projekt\YaraRules\index.yar"/>
      <add key="CustomRule" value="C:\Users\rasvo\Documents\Skola\S7\PVBPS\_Projekt\YaraRules\custom\pvbps.yar"/>
      <add key="DbPath" value="C:\Users\rasvo\Documents\Skola\S7\PVBPS\_Projekt\DB\database.xml"/>
      <add key="QuarantinePath" value="C:\Users\rasvo\Documents\Skola\S7\PVBPS\_Projekt\Quarantine"/>
    </appSettings>
</configuration>